<!DOCTYPE html>

<html>
    <head>
        <style>

            [v-cloak] {
                display: none;
            }

        </style>
        <title>todo2</title>
    </head>
    <body>
        <div id="app">
            <form v-on:submit.prevent="add">
                <input placeholder="TODO" type="text" v-model="todo">
                <input type="submit" value="Add">
            </form>
            <ul v-cloak>
                <li v-for="(todo, index) in todos">
                    {{ todo }}
                    <button v-on:click="remove(index)">Remove</button>
                </li>
            </ul>
        </div>
        <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
        <script>

            new Vue({
                el: '#app',
                data: {
                    todo: '',
                    todos: []
                },
                methods: {
                    add() {
                        this.todos.push(this.todo);
                        this.todo = '';
                    },
                    remove(index) {
                        this.todos.splice(index, 1);
                    }
                }

            });

        </script>
    </body>
</html>
