<!DOCTYPE html>

<html>
    <head>
        <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
        <style>

            [v-cloak] {
                display: none;
            }

        </style>
        <title>todo4</title>
    </head>
    <body>
        <b-container class="my-3" id="app" v-cloak>
            <b-form autocomplete="off" v-on:submit.prevent="add">
                <b-input-group class="mb-1">
                <b-form-input class="mr-2" placeholder="TODO" type="text" v-model="todo"></b-form-input>
                <b-button type="submit" variant="primary">Add</b-button>
                </b-input-group>
            </b-form>
            <b-list-group>
                <b-list-group-item class="d-flex justify-content-between align-items-center my-1" v-for="(todo, index) in filtered">
                    {{ todo }}
                    <button class="btn btn-danger float-right" v-on:click="remove(index)">Remove</button>
                </b-list-group-item>
            </b-list-group>
            <b-form-input class="my-1" placeholder="Filter" type="text" v-model="filter" v-show="todos.length"></b-form-input>
        </b-container>
        <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
        <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@2.0.0-rc.11/dist/bootstrap-vue.js"></script>
        <script>

            new Vue({
                el: '#app',
                data: {
                    filter: '',
                    todo: '',
                    todos: []
                },
                computed: {
                    filtered() {
                        return this.todos.filter(todo => todo.indexOf(this.filter) > -1);
                    }
                },
                methods: {
                    add() {
                        this.todos.push(this.todo);
                        this.todo = '';
                    },
                    remove(index) {
                        this.todos.splice(index, 1);
                    }
                }

            });

        </script>
    </body>
</html>
